nav {
  color: red;
  /*  text-align: center; */
  margin: auto;
}

.new {
  text-align: left;
}

.second::first-letter {
  font-size: 140%;
  font-weight: bold;
}

.second::first-line {
  font-weight: bold;
}
section {
  font-style: italic;
}
.prime1 {
  color: deeppink;
}

.prime2 {
  color: orange;
}

.two {
  color: blue;
}
a:hover {
  color: purple;
}

/* .second {
  color: blue;
} */
