.momo::first-letter {
  font-size: 240%;
  font-weight: bold;
}

.momo::first-line {
  font-size: 100%;
  font-weight: bold;
}

::selection {
  background: pink;
}

.momo::before {
  content: "...";
  display: block;
}

.momo::after {
  content: "...";
  display: block;
  color: red;
}

li {
  color: deeppink;
}

.first {
  color: green;
}

.one {
  color: gold;
}

table,
td,
th {
  border: 1px solid grey;
  /*single border*/
  border-collapse: collapse;
  padding: 5px;
}

tfoot {
  text-align: left;
}

body {
  background-image: url("/images/Lion2.jpeg");
}
